[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[user]
	name = Jesse Hallett
	signingkey = A5CC2BE3
	useConfigOnly = true
	email = jesse@sitr.us
[alias]
	st  = status
	di  = diff --cached
	fix = !vim $(git-ls-files --unmerged | cut -f2 | uniq)
	pend = log origin/master..HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	it = !git init && read -p 'Committer email address for this repo: ' email && git config user.email $email && git commit -m 'initial commit' --allow-empty
	commend = commit --amend --no-edit
	up = git fetch origin master:master
[core]
	pager = less -FR
	excludesfiles = .*.swo .*.swp
	autocrlf = input
[format]
	#pretty = tformat:"%Cblue%h...%Creset %Cgreen%an:%Creset %s (%ar)"
[push]
	default = simple
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autosquash = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[protocol]
	version = 2
[pull]
	ff = only
