
[DEFAULT]
fixups = ~/.homesick/repos/homeshick/bin/homeshick link

[.homesick/repos/homeshick]
checkout = git clone 'git://github.com/andsens/homeshick.git' 'homeshick'
skip = [ "$1" = "run" ]

[.homesick/repos/dot-files]
checkout = git clone 'git@github.com:hallettj/dot-files.git' 'dot-files'
fixups_append = ansible-playbook -K init.yml

[.homesick/repos/dot-mcabber]
checkout = git clone 'git@github.com:hallettj/dot-mcabber.git' 'dot-mcabber'
fixups_append = ansible-playbook -K init.yml

[.homesick/repos/dot-vim]
checkout = git clone 'git@github.com:hallettj/dot-vim.git' 'dot-vim'
fixups_append = ansible-playbook -K init.yml

[.homesick/repos/dot-xmonad]
checkout = git clone 'git@github.com:hallettj/dot-xmonad.git' 'dot-xmonad'
fixups_append = ansible-playbook -K init.yml

[.homesick/repos/dot-zsh]
checkout = git clone 'git@github.com:hallettj/dot-zsh.git' 'dot-zsh'
fixups_append = ansible-playbook -K init.yml
